@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Återställning av lösenord lyckades";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ditt lösenord har blivit återställt. Vänligen <a asp-page="./Login">tryck här för att logga in</a>.
</p>
