/* colors */
:root {
  --bg: #f9fafb;
  --primary-color: #1f2937;
  --text: #111827;
  --accent: #ffaa60;
  --accent-hover: #b07039;
}

.navbar {
  background-color: var(--primary-color);
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.navbar-toggler:hover {
  background-color: #465c7d;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: var(--accent);
  border-color: var(--accent);
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-color);
  white-space: nowrap;
  line-height: 60px;
}
