/* Styling header, nav and footer */

.navbar {
  background-color: var(--primary-color);
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: var(--text);
}

.navbar-toggler:hover {
  background-color: #465c7d;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: var(--accent);
  border-color: var(--accent);
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  margin-top: auto;
  width: 100%;
  background-color: var(--primary-color);
  white-space: nowrap;
}
