@model WorkoutTracker.Models.ExerciseModel

@{
    ViewData["Title"] = "Delete";
}

<div class="row mt-5">
    <h1 class="text-danger text-center">Ta bort övning</h1>
    <div class="col-md-4">
        <section class="card shadow-sm mb-4">
            <div class="card-header py-3 text-center">
                <h2>Är du säker på att du vill ta bort denna övning?</h2>
            </div>
            <div class="card-body p-4">
                <h3 class="card-title">@Html.DisplayFor(model => model.Name)</h3>
                <p>
                    @Html.DisplayFor(model => model.Category!.Name)
                </p>



                <form asp-action="Delete">
                    <div class="d-flex justify-content-between mt-4">
                        <input type="hidden" asp-for="Id" />
                        <a asp-action="Index" class="btn btn-outline-dark px-3 me-2">Avbryt</a>
                        <input type="submit" value="Ta bort" class="btn btn-danger px-3" />
                    </div>
                </form>
            </div>
