@model WorkoutTracker.Models.ExerciseModel

@{
    ViewData["Title"] = "Övningsdetaljer";
}

<div class="row mt-4">
    <div class="d-flex mb-2">
        <a asp-action="Index" class="btn btn-outline-dark"><i class="bi bi-arrow-left"></i> Tillbaka</a>
    </div>

    <div class="mt-3">
        <section class="card shadow-sm mb-4">
            <div class="card-body p-4">
                <h1>@Html.DisplayFor(model => model.Name)</h1>
                <p>
                    @Html.DisplayFor(model => model.Category!.Name)
                </p>
                <div class="d-flex justify-content-end mt-3">
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-dark px-3 mx-1"><i
                            class="bi bi-pencil"></i> Ändra</a>
                    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-danger px-3 mx-1"><i
                            class="bi bi-trash"></i> Ta bort</a>
                </div>
        </section>
    </div>
</div>
</div>
